<?xml version="1.0" encoding="utf-8" ?>
<SpecFirst>
	<SpecFileExtension>.spec.md</SpecFileExtension>
	<TestingFramework>xUnit</TestingFramework>
  <TestProject>
    <UseSpecProject>false</UseSpecProject>
    <TestProjectName>{spec_project_name}.Tests</TestProjectName>
    <TestFilePath>{spec_file_path}</TestFilePath>
    <TestFile>{spec_name}Tests.g.cs</TestFile>
    <ImplFilePath>{spec_file_path}</ImplFilePath>
    <ImplFile>{spec_name}Tests.impl.g.cs</ImplFile>
  </TestProject>
</SpecFirst>